.fishList {
    background-color: mediumorchid;
}

.fish {
    background-color: mediumvioletred;
    display: flex;
    flex-wrap: wrap;
}

.fish__container {
    margin: 1em;
    background-color: antiquewhite;
    border: 1px solid black;
}

.fish__picture {
    max-width: 15rem;
    max-height: 15rem;
}